<!-- /views/app-details.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Detalhes da Aplicação - Hospedagem de Aplicativos</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="https://pastebin.com/raw/f0GE8HiJ" />
</head>
<body>
  <header>
    <div class="navbar-left">
      <!-- Logo centralizado -->
      <div class="logo-container">
        <img src="/logo.png" alt="Logo">
      </div>
    </div>
    <div class="navbar-right">
      <% if (user) { %>
        <!-- Foto e nome do usuário com botão de deslogar -->
        <div class="user-info">
          <img src="<%= avatar %>" alt="Foto do Usuário">
          <p><%= username %>#<%= discriminator %></p>
        </div>
        <a href="/logout" class="logout-button">Deslogar</a>
      <% } %>
    </div>
  </header>
  <h1>Detalhes da Aplicação: <%= appName %></h1>
  <p>Status: <%= appStatus %></p>
  <pre id="terminal"><%= appTerminal %></pre>
  <% if (isAdmin) { %>
    <button onclick="startApp()">Iniciar</button>
    <button onclick="restartApp()">Reiniciar</button>
    <button onclick="stopApp()">Parar</button>
  <% } %>
  <p><a href="/">Voltar ao Painel de Controle</a></p>

  <script>
    // Função para iniciar a aplicação
    function startApp() {
      sendAction('<%= appId %>', 'start');
    }

    // Função para reiniciar a aplicação
    function restartApp() {
      sendAction('<%= appId %>', 'restart');
    }

    // Função para parar a aplicação
    function stopApp() {
      sendAction('<%= appId %>', 'stop');
    }

    // Função para enviar a requisição para realizar uma ação na aplicação
    function sendAction(appId, action) {
      fetch('/action', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ appId, action })
      })
      .then(response => response.text())
      .then(message => {
        alert(message);
        window.location.reload();
      })
      .catch(error => console.error('Erro:', error));
    }
  </script>
</body>
</html>

