<!-- /views/dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Painel de Controle - Hospedagem de Aplicativos</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="https://pastebin.com/raw/f0GE8HiJ" />
</head>
<body>
  <header>
    <div class="navbar-left">
      <!-- Logo centralizado -->
      <div class="logo-container">
        <img src="/logo.png" alt="Logo">
      </div>
    </div>
    <div class="navbar-right">
      <% if (user) { %>
        <!-- Foto e nome do usuário com botão de deslogar -->
        <div class="user-info">
          <img src="<%= user.avatar %>" alt="Foto do Usuário">
          <p><%= user.username %>#<%= user.discriminator %></p>
        </div>
        <a href="/logout" class="logout-button">Deslogar</a>
      <% } %>
    </div>
  </header>
  <h1>Bem-vindo(a) <%= user %>!</h1>
  <p>Este é o painel de controle do usuário.</p>
  <% if (applications.length > 0) { %>
    <% applications.forEach(app => { %>
      <div class="app-card">
        <h2><%= app.name %></h2>
        <p>Status: <%= app.status %></p>
        <a href="/app/<%= app.id %>">Ver Mais</a>
      </div>
    <% }); %>
  <% } else { %>
    <p>Nenhuma aplicação encontrada.</p>
  <% } %>
  <p><a href="/upload">Enviar Nova Aplicação</a></p>
  <p><a href="/logout">Sair</a></p>
</body>
</html>

